.ulShop {
  list-style: none outside none;
  margin:0;
  padding: 0;
  text-align: center;
}

.shopItem {
  float: left;
  width: 20%;
  height: 25%;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 10px 1px lightgray;
  border-radius: 10px;
}

.itemName {
  font-size: 1.5em;
}

.addToCartBtn {
  background: none;
  border: 1px solid lightgray;
}

.addToCartBtn:hover {
  background: lightblue;
}
