<nav class="wholeNav navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navBrand navbar-brand"href="#">Cart.ly</a>
    </div>
    <div id="navbar"class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="#">Shop</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Your Cart:</a></li>
        <li class="cartCount"><a href="#">{{cartCount}}</a></li>
      </ul>
    </div>
  </div>
</nav>
